$primary:#9356DC;
$secundary:#FF79DA;
$tertiary:#99E2D0;
$grey-text:#353535;
$font-text:'Roboto', sans-serif;
$font-titles: 'Shrikhand', cursive;

.main-container {
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
       
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
    flex-direction: column;    

    position: relative;
    background-size: cover;
    background-color: white;
}

/* header */

header{
    display: flex;
    padding: 23px 0 13px 0;
    justify-content: center;
    position: relative;

    a{
        position: absolute;
        color: rgba(53, 53, 53, 1);
        font-size: 20px;
        left: 23px;
        top: 30px;
    }
}

.logo{
    width: 197px;
    height: 36px;
}

/* main */


.photo-menu{
    img{
    width: 100%;
    height: 100%;
    }
}

/** menu **/

.carte-menu{
    background-color: #F7F7F7;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -40px;
    position: relative;
    width: 100%;
    padding-bottom: 20px;

}

.menu-titre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h4{
        font-family: $font-titles;
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        padding: 32px 0 0 17px;
        margin:0;
    }

    .card-heart{                
    position: relative;
    z-index: 5;
    padding-right: 41px;
    padding-top: 40px;
        &:hover{
            .restaurant-heart {
                opacity: 0;
              }
              .restaurant-heart-full {
                transform: scale(1);
                opacity: 1;
              }
        }
        .restaurant-heart{
            font-size: 21px;
            z-index: 1;
            transition: opacity 0.3s ease-in-out;
            color: black;
            &:hover{
                opacity: 0;
            }
        }
        .restaurant-heart-full{
            font-size: 21px;
            z-index: 2;
            position: absolute;
            overflow: hidden;
            left: 0px;
            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(0);
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
            &:hover{
                opacity: 1;
            }
        }
    }

}




.menu-animation-0{
    animation-name: fade-menu;
    animation-duration: 3000ms;
    }

.menu-animation-1{
    animation-name: fade-menu;
    animation-duration: 5000ms;

}

.menu-animation-2{
    animation-name: fade-menu;
    animation-duration: 7000ms;
}

@keyframes fade-menu{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

.menu{
    h5{
        font-family: $font-text;
        font-weight: 300;
        font-size: 16px;
        border-bottom: 3px solid $tertiary;
        margin-left: 13px;
        margin-top: 40px;
        position: relative;
        width: 40px;
        padding-bottom: 5px;
    }
    .choix{
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;
        margin: 7px 25px 5px 25px;
        text-align: left;
        padding: 12px 15px;
        position: relative;
        overflow: hidden;
        &:hover {
            .menu-prix a {
              transform: translateX(-59px);
            }
            .menu-prix .add {
              transform: translateX(-59px);
            }
        }
        .plats{
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            h6{
                font-family: $font-text;
                font-weight: 500;
                font-size: 18px;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p{
                font-family: $font-text;
                font-style: normal;
                font-weight: 300;
                font-size: 15.0431px;
                margin: 5px 0 0 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                }
        }
        .menu-prix{
            display: flex;
            justify-content: space-between;
            position: relative;
            transition: transform 0.5s ease-in-out;
            a{
                font-family: $font-text;
                font-style: normal;
                font-weight: 700;
                font-size: 15.0431px;
                padding-left: 10px;
                padding-top: 26px;
                transition: transform 0.5s ease-in-out;
            }

            .add{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #99e2d0;
                width: 59px;
                height: 69px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                position: absolute;
                top: -12px;
                left: 51px;
                transition: transform 0.5s ease-in-out;
                .fa-circle-check{
                    color: rgba(255, 255, 255, 1);                        
                    font-size: 20px;
                }
            }
        }        
    }
}



.button-effect{
    color: white;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    font-family:$font-text;
    a{
        color:white;
        margin: 35px 0 20px 0;
        border-radius: 25px;
        background: linear-gradient(0deg, rgba(147,86,220,1) -11%, rgba(255,121,218,1) 123%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        padding: 13px 18.75px;
        z-index: 1;
        text-decoration: none;
        transition: opacity 500ms, box-shadow 500ms;


        &:hover {
            opacity: 0.9;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        }
    }
}



/* footer */

footer{
    background-color: #353535;
    .footer-logo{
        width: 137.58px;
        height: 27px;
        filter: invert(100%);  
        margin: 22px 0 16px 25px;
    }
    ul{
        list-style-type: none;
        padding: 0 0 15px 25px;
        margin-bottom: 0;
        li{
            color: #FFFFFF;
            font-family: $font-text;
            font-weight: 500;
            font-size: 16px;
            padding-bottom: 7px;

            .fa-utensils{
                margin-right: 10px;
            }
            .fa-handshake{
                margin-right: 10px;
            }
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}



/* responsive */