$primary:#9356DC;
$secundary:#FF79DA;
$tertiary:#99E2D0;
$grey-text:#353535;
$font-text:'Roboto', sans-serif;
$font-titles: 'Shrikhand', cursive;

.main-container {
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
       
}



body {
    display: flex;
    justify-content: center;
    margin: 0px;
    flex-direction: column;    

    position: relative;
    animation: loader 0ms 3s both;
    background-size: cover;
    background-color: white;
}

  @keyframes loader{
    0% {
		transform: translatex(-9999px);
	}
	100% {
		transform: translatex(0);
	}
}
/* loader */
.chargement{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: $primary;
    padding: 50px 0 0 0;
    animation-duration: 2.5s;
    animation-name: chargement;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    .loader {
        width: 40px;
        height: 40px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        position: absolute;
        top: 10%;
        left: 45%;
        animation-name: spin;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 2;
    }
}

@keyframes spin{
    
    99%{
        opacity: 1;
    }
    100%{
        rotate: 360deg;
        opacity: 0;
    }
}

@keyframes chargement{
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

/* header */

header{
    display: flex;
    padding: 23px 0 13px 0;
    justify-content: center;
}

.logo{
    width: 197px;
    height: 36px;
}

/* main */

/* formulaire */

.formulaire{
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    align-items: center;
    height: 50px;
    gap: 20px;
    box-shadow:inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.fa-location-dot{
    width: 12px;
    height: 16px;
    color: $grey-text;
    padding-left: 32px; 
}

.formulaire-Paris{
    color: $grey-text;
    font-weight: 500;
    font-size: 16px;
    border: none;
    background-color: transparent;

    display: flex;
    
    justify-content: center;
    font-family: $font-text;
    padding-top: 3px;
}

::placeholder{
    color: $grey-text;
    font-weight: 700;
    font-size: 18px;
}

/* presentation */

.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    font-family: $font-text;
    text-align: center;
    padding-bottom: 70px;
    h1{
        margin:40px 50px 12px 50px;
    }
    p{
        margin: 0 26px 27px 34px ;
        color:$grey-text;
        font-weight: 300;
        font-size: 18px;
    }
    .button-effect{
        color: white;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        a{
            color:white;
            margin: 27px 0 57px 0;
            border-radius: 25px;
            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            padding: 13px 18.75px;
            position: relative;
            z-index: 1;
            text-decoration: none;

            &:active {
                &::after {
                    opacity: 1;
                }
            }
            &::after {
                content:"";
                border-radius: 25px;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);               
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
                opacity: 0;
                z-index: -1;
                transition: opacity 500ms;
            }
        }
    }
}   

@mixin pseudo-elem {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



/* fonctionnement */

.fonctionnement{
    display:flex;
    flex-direction: column;

    ul{
        list-style-type: none;
        gap: 25px;
        display: flex;
        flex-direction: column;
        padding: 0 20px 0 30px;
        position: relative;
        z-index: 2;

        li{
            font-family: $font-text;
            font-weight: 500;
            font-size: 16px;
        
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            background: #F7F7F7;
        
            padding: 28px 28px 28px 33px;
        
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 19px;

            position: relative;
            z-index: 3;

            .fonctionnement-number{
                color:#F6F6F6;
                z-index: 1;
                border: solid $primary;
                border-radius: 50%;
                width: 19px;                   
                height: 19px;
                position: absolute;
                text-align: center;
                background-color: $primary;
                left: -12px;
            }
        
        }
    
    }
}


h2{
    font-weight: 700;
    font-size: 24px;
    font-family: $font-text;
    margin: 48px 80px 26px 20px;
}

.color-grey{
    color: #7E7E7E;
}

.color-primary{
    color:$primary;
}



/* Restaurants */

.restaurant{
    background-color: #F7F7F7;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 48px;
    .restaurant-section{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-between ;
        margin-left: 17px;
        margin-right: 18px;
        .card-new{
            background: #99E2D0;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
            z-index: 2;
            margin: 0 25px -50px 200px;
            padding: 7px 9px;
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            flex-wrap: wrap;
            .new{
                font-family: $font-text;
                font-weight: 500;
                font-size: 14px;
                text-align: center;
                color: #008766;
                
                
            }
        }
        .card-heart{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            flex-wrap: wrap;
            z-index: 1;
            margin-bottom: -440px;
            margin-right: 25px;
            
                .restaurant-heart{
                    height: 21.000383377075195px;
                    width: 22.000423431396484px;
                .colroful-heart{
                    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
                }
                    :active{
                        background-clip: text;
                    }
                }
        }
        .card{
            background: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            margin-bottom: 18px;
            width: 100%;
            text-decoration: none;
            img{
                width: 100%;
                height: 180px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                object-fit: cover;
            }
            .card-content{
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                margin-left: 13px;
                color: black;
                font-family: $font-text;
                p{
                    margin-top: 0;
                    font-family: $font-text;
                    font-weight: 300;
                    font-size: 17px;
                    margin-bottom: 12px;
                    text-decoration: none;
                    color:black ;
                }
            }  
        } 
    }
}

h3{
    font-family: $font-text;
    font-weight: 700;
    font-size: 24px;
    padding-left: 20px;
    padding-top: 54px;
}

h4{
    font-family: $font-text;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    margin-bottom: 5px;
    margin-top: 10px;
}

/* footer */

footer{
    background-color: #353535;
    .footer-logo{
        width: 137.58px;
        height: 27px;
        filter: invert(100%);  
        margin: 22px 0 16px 25px;
    }
    ul{
        list-style-type: none;
        padding: 0 0 15px 25px;
        margin-bottom: 0;
        li{
            color: #FFFFFF;
            font-family: $font-text;
            font-weight: 500;
            font-size: 16px;
            padding-bottom: 7px;

            .fa-utensils{
                margin-right: 10px;
            }
            .fa-handshake{
                margin-right: 10px;
            }
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}

/*** CSS des menus des restaurants ***/

.photo-menu{
    img{
    width: 100%;
    height: 100%;
    }
}

/** menu **/

.carte-menu{
    background-color: #F7F7F7;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -40px;
    position: relative;
    width: 100%;
}

.menu-titre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    h4{
        font-family: $font-titles;
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        padding: 32px 0 0 17px;
        margin:0;
    }

    .fa-heart{
        padding-right: 41px;        
    }

}

.menu{
    h5{
        font-family: $font-text;
        font-weight: 300;
        font-size: 16px;

        border-bottom: 3px solid $tertiary;

        margin-left: 13px;
        margin-top: 40px;
    }
    .choix{
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        margin-bottom: 18px;

        padding: 12px 0 12px 15px;
        margin-left: 13px;
        margin-right: 13px;

        display: flex;
        justify-content: space-between;

        .plats{
            display: flex;
            flex-direction: column;
            h6{
                font-family: $font-text;
                font-weight: 500;
                font-size: 18px;
                margin: 0;
        
            }

            p{
                font-family: $font-text;
                font-style: normal;
                font-weight: 300;
                font-size: 15.0431px;
                margin: 5px 0 0 0;
            }
        }
        .menu-prix{
            display: flex;
            align-items: flex-end;

            a{
                font-family: $font-text;
                font-style: normal;
                font-weight: 700;
                font-size: 15.0431px;
                padding-right: 12px;    
            }

        } 
    }
}



.menu-bouton{

}



