.main-container {
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-color: white;
}

/* loader */
.chargement {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #9356DC;
  padding: 50px 0 0 0;
  animation-duration: 2.5s;
  animation-name: chargement;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.chargement .loader {
  width: 40px;
  height: 40px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  position: absolute;
  top: 10%;
  left: 45%;
  animation-name: spin;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes spin {
  99% {
    opacity: 1;
  }
  100% {
    rotate: 360deg;
    opacity: 0;
  }
}
@keyframes chargement {
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* header */
header {
  display: flex;
  padding: 23px 0 13px 0;
  justify-content: center;
  position: relative;
}
header a {
  position: absolute;
  color: rgb(53, 53, 53);
  font-size: 20px;
  left: 23px;
  top: 30px;
}

.logo {
  width: 197px;
  height: 36px;
}

/* main */
/* formulaire */
.formulaire {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  align-items: center;
  height: 50px;
  gap: 20px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.fa-location-dot {
  width: 12px;
  height: 16px;
  color: #353535;
  padding-left: 32px;
}

.formulaire-Paris {
  color: #353535;
  font-weight: 500;
  font-size: 16px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding-top: 3px;
}

::-moz-placeholder {
  color: #353535;
  font-weight: 700;
  font-size: 18px;
}

::placeholder {
  color: #353535;
  font-weight: 700;
  font-size: 18px;
}

/* presentation */
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 70px;
}
.presentation h1 {
  margin: 40px 50px 12px 50px;
}
.presentation p {
  margin: 0 26px 27px 34px;
  color: #353535;
  font-weight: 300;
  font-size: 18px;
}
.presentation .button-effect {
  color: white;
  font-weight: 500;
  font-size: 16px;
}
.presentation .button-effect a {
  color: white;
  margin: 27px 0 57px 0;
  border-radius: 25px;
  background: linear-gradient(0deg, rgb(147, 86, 220) -11%, rgb(255, 121, 218) 123%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 13px 18.75px;
  z-index: 1;
  text-decoration: none;
}
.presentation .button-effect a:hover {
  animation-name: color-button;
  animation-duration: 500ms;
  animation-fill-mode: both;
}

@keyframes color-button {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.9;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  }
}
/* fonctionnement */
.fonctionnement {
  display: flex;
  flex-direction: column;
}
.fonctionnement ul {
  list-style-type: none;
  gap: 25px;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 30px;
  position: relative;
  z-index: 2;
}
.fonctionnement ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background: #F7F7F7;
  padding: 28px 28px 28px 33px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 19px;
  position: relative;
  z-index: 3;
}
.fonctionnement ul li .fonctionnement-number {
  color: #F6F6F6;
  z-index: 1;
  border: solid #9356DC;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  position: absolute;
  text-align: center;
  background-color: #9356DC;
  left: -12px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin: 48px 80px 26px 20px;
}

.color-grey {
  color: #7E7E7E;
}

.color-primary {
  color: #9356DC;
}

/* Restaurants */
.restaurant {
  background-color: #F7F7F7;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 48px;
}
.restaurant .restaurant-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  margin-left: 17px;
  margin-right: 18px;
}
.restaurant .restaurant-section .card {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 18px;
  width: 100%;
  text-decoration: none;
  position: relative;
}
.restaurant .restaurant-section .card article {
  position: relative;
}
.restaurant .restaurant-section .card article img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant .restaurant-section .card article .new {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #008766;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  z-index: 2;
  padding: 7px 9px;
  position: absolute;
  top: 13px;
  right: 12px;
}
.restaurant .restaurant-section .card article .card-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 14px;
  color: black;
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: 3;
}
.restaurant .restaurant-section .card article .card-content p {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 12px;
  text-decoration: none;
  color: black;
}
.restaurant .restaurant-section .card .card-heart {
  right: 25px;
  bottom: 25px;
  position: absolute;
  z-index: 9;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant .restaurant-section .card .card-heart .restaurant-heart {
  font-size: 21px;
  z-index: 1;
  transition: all 3000ms ease-in-out;
  color: black;
}
.restaurant .restaurant-section .card .card-heart .restaurant-heart:hover {
  opacity: 1;
}
.restaurant .restaurant-section .card .card-heart .restaurant-heart-full {
  font-size: 21px;
  z-index: 2;
  position: absolute;
  left: 0px;
  transition: all 3000ms ease-in-out;
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
  background-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  opacity: 0;
}
.restaurant .restaurant-section .card .card-heart .restaurant-heart-full:hover {
  opacity: 1;
  -webkit-background-clip: text;
}

@keyframes heart-filling {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 54px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  margin-bottom: 5px;
  margin-top: 15px;
}

/* footer */
footer {
  background-color: #353535;
}
footer .footer-logo {
  width: 137.58px;
  height: 27px;
  filter: invert(100%);
  margin: 22px 0 16px 25px;
}
footer ul {
  list-style-type: none;
  padding: 0 0 15px 25px;
  margin-bottom: 0;
}
footer ul li {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 7px;
}
footer ul li .fa-utensils {
  margin-right: 10px;
}
footer ul li .fa-handshake {
  margin-right: 10px;
}
footer ul li a {
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */