.main-container {
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-color: white;
}

/* header */
header {
  display: flex;
  padding: 23px 0 13px 0;
  justify-content: center;
  position: relative;
}
header a {
  position: absolute;
  color: rgb(53, 53, 53);
  font-size: 20px;
  left: 23px;
  top: 30px;
}

.logo {
  width: 197px;
  height: 36px;
}

/* main */
.photo-menu img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

/** menu **/
main .card-menu {
  background-color: #F7F7F7;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -40px;
  position: relative;
  width: 100%;
  padding-bottom: 20px;
}

.menu-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-title h1 {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  padding: 32px 0 0 17px;
  margin: 0;
}
.menu-title .card-heart {
  position: relative;
  z-index: 5;
  padding-right: 40px;
  padding-top: 30px;
}
.menu-title .card-heart:hover .restaurant-heart {
  opacity: 0;
}
.menu-title .card-heart:hover .restaurant-heart-full {
  transform: scale(1);
  opacity: 1;
}
.menu-title .card-heart .restaurant-heart {
  font-size: 21px;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  color: black;
}
.menu-title .card-heart .restaurant-heart:hover {
  opacity: 0;
}
.menu-title .card-heart .restaurant-heart-full {
  font-size: 21px;
  z-index: 2;
  position: absolute;
  overflow: hidden;
  left: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.menu-title .card-heart .restaurant-heart-full:hover {
  opacity: 1;
}

.menu-animation-0 {
  animation-name: fade-menu;
  animation-duration: 3000ms;
}

.menu-animation-1 {
  animation-name: fade-menu;
  animation-duration: 5000ms;
}

.menu-animation-2 {
  animation-name: fade-menu;
  animation-duration: 7000ms;
}

@keyframes fade-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom: 3px solid #99E2D0;
  margin-left: 13px;
  margin-top: 40px;
  position: relative;
  width: 40px;
  padding-bottom: 5px;
}
.menu .choices {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin: 12px 25px;
  text-align: left;
  padding: 12px 15px;
  position: relative;
  overflow: hidden;
}
.menu .choices:hover .menu-price a {
  transform: translateX(-59px);
}
.menu .choices:hover .menu-price .add {
  transform: translateX(-59px);
}
.menu .choices .plats {
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .choices .plats h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .choices .plats p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15.0431px;
  margin: 5px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .choices .menu-price {
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: transform 0.5s ease-in-out;
}
.menu .choices .menu-price a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15.0431px;
  padding-left: 10px;
  padding-top: 26px;
  transition: transform 0.5s ease-in-out;
}
.menu .choices .menu-price .add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 59px;
  height: 69px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  top: -12px;
  left: 51px;
  transition: transform 0.5s ease-in-out;
}
.menu .choices .menu-price .add .fa-circle-check {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.button-effect {
  color: white;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.button-effect a {
  color: white;
  margin: 35px 0 20px 0;
  border-radius: 25px;
  background: linear-gradient(0deg, rgb(147, 86, 220) -11%, rgb(255, 121, 218) 123%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 13px 18.75px;
  z-index: 1;
  text-decoration: none;
  transition: opacity 500ms, box-shadow 500ms;
}
.button-effect a:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/* footer */
footer {
  background-color: #353535;
}
footer .footer-logo {
  width: 137.58px;
  height: 27px;
  filter: invert(100%);
  margin: 22px 0 16px 25px;
}
footer ul {
  list-style-type: none;
  padding: 0 0 15px 25px;
  margin-bottom: 0;
}
footer ul li {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 7px;
}
footer ul li .fa-utensils {
  margin-right: 10px;
}
footer ul li .fa-handshake {
  margin-right: 10px;
}
footer ul li a {
  color: white;
  text-decoration: none;
}

/* responsive tablet more or equal to 768 px*/
@media (min-width: 767.98px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .card-menu {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .card-menu .menu-title {
    justify-content: center;
    gap: 24px;
  }
  main .card-menu .menu {
    width: 80%;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: flex-end;
  }
  footer .font-400 {
    padding-right: 40px;
  }
  .photo-menu {
    width: 100%;
  }
  .photo-menu img {
    height: 304px;
    width: 100%;
  }
}
/* responsive desktop more or equal to 1024 px*/
@media (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: flex-end;
  }
  footer .footer-logo {
    position: absolute;
    right: 25px;
    bottom: 8px;
  }
  footer ul {
    display: flex;
    flex-direction: row-reverse;
    gap: 7px;
    align-items: flex-end;
  }
  footer .font-400 {
    padding-right: 270px;
    margin-top: 50px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .card-menu {
    width: 73%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .card-menu .menu-title {
    justify-content: center;
    gap: 24px;
  }
  main .card-menu .menu {
    width: 60%;
  }
  .photo-menu img {
    height: 383px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=style-menu.css.map */