$primary:#9356DC;
$secundary:#FF79DA;
$tertiary:#99E2D0;
$grey-text:#353535;
$font-text:'Roboto', sans-serif;
$font-titles: 'Shrikhand', cursive;

.main-container {
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

/* header */

header{
    display: flex;
    padding: 23px 0 13px 0;
    justify-content: center;
}

.logo{
    width: 197px;
    height: 36px;
}

/* main */

/* formulaire */

.formulaire{
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    align-items: center;
    height: 50px;
    gap: 20px;
    box-shadow:inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.fa-location-dot{
    width: 12px;
    height: 16px;
    color: $grey-text;
    padding-left: 32px; 
}

.formulaire-Paris{
    color: $grey-text;
    font-weight: 500;
    font-size: 16px;
    border: none;
    background-color: transparent;

    display: flex;
    
    justify-content: center;
    font-family: $font-text;
    padding-top: 3px;
}

::placeholder{
    color: $grey-text;
    font-weight: 700;
    font-size: 18px;
}

/* presentation */

.presentation{
    display: flex;
    justify-content: center;
    background-color: #D2D2D2;
}

.presentation ul{
    list-style-type: none;
    margin:40px 0 0 0;
    padding: 0;
}

.presentation li{
    font-family: $font-text;
    text-align: center;
}

.presentation-title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 12px;
    color: black;
}

.presentation-text{
    color:$grey-text;
    font-weight: 300;
    font-size: 18px;
}

.presentation-bouton{
    color:white;
    margin: 27px 20% 57px 20%;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 16px;

    padding: 13px 0;
}