$primary:#9356DC;
$secundary:#FF79DA;
$tertiary:#99E2D0;
$grey-text:#353535;
$font-text:'Roboto', sans-serif;
$font-titles: 'Shrikhand', cursive;

.main-container {
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
       
}



body {
    display: flex;
    justify-content: center;
    margin: 0px;
    flex-direction: column;    

    position: relative;
    background-size: cover;
    background-color: white;
}

/* loader */
.chargement{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: $primary;
    padding: 50px 0 0 0;
    animation-duration: 2.5s;
    animation-name: chargement;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    .loader {
        width: 40px;
        height: 40px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        position: absolute;
        top: 10%;
        left: 45%;
        animation-name: spin;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
}

@keyframes spin{
    
    99%{
        opacity: 1;
    }
    100%{
        rotate: 360deg;
        opacity: 0;
    }
}

@keyframes chargement{
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

/* header */

header{
    display: flex;
    padding: 23px 0 13px 0;
    justify-content: center;
    position: relative;

    a{
        position: absolute;
        color: rgba(53, 53, 53, 1);
        font-size: 20px;
        left: 23px;
        top: 30px;
    }
}

.logo{
    width: 197px;
    height: 36px;
}

/* main */

/* formulaire */

.formulaire{
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    align-items: center;
    height: 50px;
    gap: 20px;
    box-shadow:inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.fa-location-dot{
    width: 12px;
    height: 16px;
    color: $grey-text;
    padding-left: 32px; 
}

.formulaire-Paris{
    color: $grey-text;
    font-weight: 500;
    font-size: 16px;
    border: none;
    background-color: transparent;

    display: flex;
    
    justify-content: center;
    font-family: $font-text;
    padding-top: 3px;
}

::placeholder{
    color: $grey-text;
    font-weight: 700;
    font-size: 18px;
}

/* presentation */

.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    font-family: $font-text;
    text-align: center;
    padding-bottom: 70px;
    h1{
        margin:40px 50px 12px 50px;
    }
    p{
        margin: 0 26px 27px 34px ;
        color:$grey-text;
        font-weight: 300;
        font-size: 18px;
    }
    .button-effect{
        color: white;
        font-weight: 500;
        font-size: 16px;
        a{
            color:white;
            margin: 27px 0 57px 0;
            border-radius: 25px;
            background: linear-gradient(0deg, rgba(147,86,220,1) -11%, rgba(255,121,218,1) 123%);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            padding: 13px 18.75px;
            z-index: 1;
            text-decoration: none;
            transition: opacity 500ms, box-shadow 500ms;


            &:hover {
                opacity: 0.9;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
            }
        }
    }
}


/* fonctionnement */

.fonctionnement{
    display:flex;
    flex-direction: column;

    ul{
        list-style-type: none;
        gap: 25px;
        display: flex;
        flex-direction: column;
        padding: 0 20px 0 30px;
        position: relative;
        z-index: 2;

        li{
            font-family: $font-text;
            font-weight: 500;
            font-size: 16px;
        
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            background: #F7F7F7;
        
            padding: 28px 28px 28px 33px;
        
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 19px;

            position: relative;
            z-index: 3;

            .fonctionnement-number{
                color:#F6F6F6;
                z-index: 1;
                border: solid $primary;
                border-radius: 50%;
                width: 19px;                   
                height: 19px;
                position: absolute;
                text-align: center;
                background-color: $primary;
                left: -12px;
            }
        
        }
    
    }
}


h2{
    font-weight: 700;
    font-size: 24px;
    font-family: $font-text;
    margin: 48px 80px 26px 20px;
}

.color-grey{
    color: #7E7E7E;
}

.color-primary{
    color:$primary;
}



/* Restaurants */

.restaurant{
    background-color: #F7F7F7;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 48px;
    .restaurant-section{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-between ;
        margin-left: 17px;
        margin-right: 18px;
        .card{
            background: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            margin-bottom: 18px;
            width: 100%;
            text-decoration: none;
            position: relative;
            article{
                position: relative;
                img{
                    width: 100%;
                    height: 180px;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    object-fit: cover;
                } 
                .new{
                    font-family: $font-text;
                    font-weight: 500;
                    font-size: 14px;
                    text-align: center;
                    color: #008766; 
                    background: #99E2D0;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                    border-radius: 2px;
                    z-index: 2;
                    padding: 7px 9px;
                    position: absolute;
                    top: 13px;
                    right: 12px;
                }
                .card-content{
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    margin-left: 14px;
                    color: black;
                    font-family: $font-text;
                    position: relative;
                    z-index: 3;
                    p{
                        margin-top: 0;
                        font-family: $font-text;
                        font-weight: 300;
                        font-size: 17px;
                        margin-bottom: 12px;
                        text-decoration: none;
                        color:black ;
                    }
                } 
            }
            .card-heart{          
                right: 25px;
                bottom: 25px;
                position: absolute;
                z-index: 9;
                object-fit: cover;
                &:hover{
                    .restaurant-heart {
                        opacity: 0;
                      }
                      .restaurant-heart-full {
                        transform: scale(1);
                        opacity: 1;
                      }
                }
                .restaurant-heart{
                    font-size: 21px;
                    z-index: 1;
                    transition: opacity 0.3s ease-in-out;
                    color: black;
                    &:hover{
                        opacity: 0;
                    }
                }
                .restaurant-heart-full{
                    font-size: 21px;
                    z-index: 2;
                    position: absolute;
                    overflow: hidden;
                    left: 0px;
                    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transform: scale(0);
                    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        } 
    }
}

h3{
    font-family: $font-text;
    font-weight: 700;
    font-size: 24px;
    padding-top: 53px;
    margin-top: 0;
}

h4{
    font-family: $font-text;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    margin-bottom: 5px;
    margin-top: 15px;
}

/* footer */

footer{
    background-color: #353535;
    padding-bottom: 22px;
    .footer-logo{
        width: 137.58px;
        height: 27px;
        filter: invert(100%);  
        margin: 22px 0 16px 25px;
    }
    ul{
        list-style-type: none;
        padding: 0 0 0px 25px;
        margin-bottom: 0;
        
        li{
            color: #FFFFFF;
            font-family: $font-text;
            font-weight: 500;
            font-size: 16px;
            padding-bottom: 7px;

            .fa-utensils{
                margin-right: 10px;
            }
            .fa-handshake{
                margin-right: 10px;
            }
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
    .font-400{
            font-weight: 400;
            margin-top:0;
        }
}



/* responsive tablet more or equal to 768 px*/

@media (min-width: 767.98px){
    footer{
        display: flex;
        justify-content: space-between;
        ul{
            display:flex;
            flex-direction: column;
            gap: 7px;
            align-items: flex-end;
        }
        .font-400{
            padding-right: 40px;
            margin-top: 16px;
        }
    }

    .restaurant {
        padding-bottom: 0;
        .restaurant-section{
            display: flex;
            justify-content: space-evenly;
            h3{ 
            margin-left: 0;
            width: 90%;
            }
            .card {    
                width: 45%;
                margin-bottom: 50px;
            }
        } 
    }



}


/* responsive desktop more or equal to 1024 px*/

@media (min-width: 1024px){
    .fonctionnement{
        align-items: center;
        h2{
            padding-right: 732px;
            margin-left:0;
        }
        ul{
            flex-direction: row;
            justify-content: center;
            gap: 32px;
            li{
                padding-right: 66px;
            }
        }
    
    }

    .restaurant {
        padding-bottom: 0;
        .restaurant-section{
            display: flex;
            justify-content: space-evenly;
            h3{ 
            margin-left: 0;
            width: 80%;
            }
            .card {    
                width: 35%;
                margin-bottom: 50px;
            }
        } 
    }

    footer{
        display: flex;
        justify-content: flex-end;
        .footer-logo{
            position: absolute;
            right: 25px;
            bottom: 8px;

        }
        ul{
            display:flex;
            flex-direction: row-reverse;
            gap: 7px;
            align-items: flex-end;
        }
        .font-400{
            padding-right: 270px ;
            margin-top: 50px;
        }
    }
}